.prize {
  width: 100%;
  height: 20%;
  max-width: 500px;
  max-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prize__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 32px;
  max-height: 32px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 23.96%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 4px;
}

.prize__with-image {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.prize__place {
  margin-left: 2%;
  text-align: left;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #212127;
}

.prize__prize {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 108px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
}

.prize__with-price {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 20%;
}
