.card {
  max-width: 383px;
  height: 327px;
  border-radius: 14px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.card__image {
  margin-top: 9.79%;
  margin-left: 8.89%;
  margin-right: 73.33%;
  max-width: 68.09px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 23.96%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 14px;
}
.card__title {
  margin-left: 4%;
  margin-right: 60.28%;
  max-width: 118.09px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #323232;
}

.card__description {
  font-weight: 400;
  margin-left: 8.89%;
  max-width: 314.91px;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 180%;
  color: #595959;
}
.card__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #33c9d3;
  margin-right: 65%;
  margin-left: 8.89%;
  text-decoration: none;
  cursor: pointer;
}
