.regulations {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
}
.regulations__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #152c5b;
}
