.pagehero {
  max-width: 1920px;
  height: 350px;
  background: #152c5b;
}

.pagehero__title {
  margin-top: 0;
  margin-right: 44%;
  max-width: 1070px;

  padding-top: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;

  color: #ffffff;
}

.pagehero__subtitle {
  margin-right: 76%;
  margin-top: -3%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: white;
}
.pagehero__buttons {
  justify-content: space-between;
  margin-top: -6.5%;
  margin-left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagehero__tabs {
  display: flex;

  padding-left: 7%;
  margin-top: 6%;
}

.pagehero__tabs-buttons {
  border: none;
  background: #152c5b;
  color: #a7a7a7;
  cursor: pointer;
}
.pagehero__tabs-buttons:focus-within {
  color: white;
}

.pagehero__tabs-buttons:hover {
  color: white;
}
