.pagehero {
  max-width: 1920px;
  height: 350px;
  background: #152c5b;
}

.pagehero__title {
  max-width: 1070px;
  margin-left: -10%;
  padding-top: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.pagehero__subtitle {
  margin-right: 70%;
  margin-top: -3%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: white;
}
.pagehero__buttons {
  justify-content: space-between;
  margin-top: -6.5%;
  margin-left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
