.header {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bim-logo {
  margin-right: 13%;
  margin-left: 5%;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  float: right;
  box-sizing: border-box;
  margin-right: 5%;
}
