.loginPage {
  background-image: url("../../assets/BackgroundImg1.png");
  width: 100%;
  height: 100vh;
}

.loginPage__logo {
  margin-top: 5%;
}

.loginPage__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
}

.loginPage__login-button {
  width: 345px;
  height: 61px;
  margin-top: 5%;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.15) 23.96%,
      rgba(255, 255, 255, 0) 100%
    ),
    #33c9d3;
  border-radius: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: white;
}
