.project__uppart {
  display: flex;
  justify-content: space-between;
}
.project__uppart-presentation {
  margin-top: 5%;
  margin-right: 3%;

  width: 520px;
  height: 85px;
  background: #ffffff;
  border: 1px solid #595959;
  box-sizing: border-box;
  border-radius: 24px;
}

.project__team-members-title {
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #152c5b;
}
.project__button-submit {
  display: flex;
  margin-top: 3%;
  margin-left: 5%;
  width: 149px;
  height: 60px;
  left: 150px;
  top: 2167px;
  background: #0b111f;
  border-radius: 14px;
  color: white;
  text-align: center;
  line-height: 24px;
  padding: 1% 1.5%;
}

.project__vote-title {
  display: flex;
  margin-left: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #152c5b;
}
